html {
  scroll-behavior: smooth;
}

body {
  font-family: "roboto-condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
}

h1 {
  font-size: 2.2em;
  margin: 0;
}

h2 {
  color: #001333;
  font-size: 2.2em;
  font-weight: 500;
}

h2::before,
h2::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 0.5px solid #001333;
  margin: auto;
}

h2::before {
  margin-right: 10px;
}

h2::after {
  margin-left: 10px;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 35px;
}

.introduction {
  color: #f7f6f5;
}

.introduction h1 {
  text-align: center;
}

.introduction p:nth-child(1) {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-align: center;
  font-size: 1.2em;
}

.introduction .introduction--span {
  margin-right: 5px;
  color: #ff7a72;
}

.projects__card h3 {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0;
  text-transform: capitalize;
}

.projects__card .projects__description--peach:first-of-type {
  margin-top: 0;
}

.projects__card .projects__description--peach {
  margin-top: 0;
  color: #ff7a72;
  font-family: "proxima-nova-extra-condensed", sans-serif;
}

.menu {
  padding-right: 7.5%;
}

.menu .menu__main-nav {
  display: none;
}

.menu .menu__burger-btn {
  position: relative;
  z-index: 5;
  background: none;
  border: none;
  margin-top: 30px;
}

.menu .active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 75vh;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7a72), to(#b73e37));
  background: linear-gradient(#ff7a72, #b73e37);
  -webkit-animation: slide-in 0.5s;
          animation: slide-in 0.5s;
  -webkit-box-shadow: 0px 5px 15px #001333;
          box-shadow: 0px 5px 15px #001333;
}

.menu ul {
  padding: 0;
  width: 50%;
  margin: 0 auto;
  margin-top: 30%;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.menu ul a {
  text-decoration: none;
  color: #001333;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-size: 1.8em;
}

.menu li {
  list-style-type: none;
  margin-bottom: 20px;
}

.menu .menu__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
  margin: 0 auto;
  margin-top: 50px;
}

.menu .menu__social-links img {
  width: 50px;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f6f5;
}

.projects__display {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 auto;
  margin-top: 25px;
}

.projects__display a {
  position: relative;
  text-decoration: none;
  z-index: 5;
}

.projects__display .project__info,
.projects__display p,
.projects__display h3 {
  color: #f7f6f5;
}

.projects__display .projects__card {
  position: relative;
  background: url("/images/bryllup.jpg");
  background-size: contain;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.projects__display .projects__card::before {
  position: absolute;
  content: "";
  inset: 0;
  background: #012b66;
  opacity: 90%;
  z-index: 2;
}

.projects__display .projects__description--flexible {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.projects__display .projects__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__display .projects__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.5px;
}

.projects__display .projects__display--technologies {
  margin-right: 25px;
}

.projects__display .projects__icons--styling {
  width: 45px;
}

.projects__display .projects__image {
  display: none;
}

@media screen and (min-width: 650px) {
  .projects__display {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects__display .projects__card {
    width: 38%;
  }
}

.about {
  width: 90%;
  margin: 0 auto;
}

.about .about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about_images--collection {
  width: 100%;
  height: auto;
  margin: 25px 0;
}

.about .about__images--icon {
  width: 50px;
  margin: 0 auto;
}

.about .facts__img {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-left: 5%;
}

header .logo {
  position: relative;
  z-index: 10;
  width: 55px;
  margin-top: 20px;
}

header .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blue-bg {
  background: linear-gradient(300deg, #011633 0%, #012b66 100%);
}

.introduction {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20%;
}

.introduction p:nth-child(1) {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
}

.introduction p:nth-child(1):before,
.introduction p:nth-child(1):after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 0.5px solid #f0f0f0;
  margin: auto;
}

.introduction p:nth-child(1):before {
  margin-right: 10px;
}

.introduction p:nth-child(1)::after {
  margin-left: 10px;
}

.introduction .introduction__portrait {
  width: 80%;
  margin-left: 15%;
  position: relative;
  z-index: 1;
  margin-top: 10%;
}

.introduction .introduction__text {
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
}

.introduction .introduction__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.introduction .introduction__description p {
  margin-left: 10px;
}

.introduction::before {
  content: "";
  position: absolute;
  background: url("/images/pattern/hexagon-pattern.png");
  background-size: cover;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
}
