.blue-bg {
  background: $blue-linear-gradient;
  position: relative;
}
h1 {
  letter-spacing: 2px;
  white-space: nowrap;
  span {
    animation: letter-flip 1s 1;
    animation-delay: calc(0.05s * var(--i));
    display: inline-block;
  }
}

// introducton bg animation

.hexagons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.hexagons div {
  position: absolute;
  display: block;
  list-style: none;
  height: 100px;
  width: 100px;
  background: $peach;
  animation: animate 20s linear infinite;
  bottom: -150px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagons div:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.hexagons div:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.hexagons div:nth-child(3) {
  left: 50%;
  width: 100px;
  height: 100px;
  animation-delay: 4s;
}

.hexagons div:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.hexagons div:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.hexagons div:nth-child(6) {
  left: 75%;
  width: 75px;
  height: 75px;
  animation-delay: 3s;
}

.hexagons div:nth-child(7) {
  left: 35%;
  width: 20px;
  height: 20px;
  animation-delay: 7s;
}

.hexagons div:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 35s;
}

.hexagons div:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 25s;
}

.hexagons div:nth-child(10) {
  left: 85%;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation-duration: 12s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(360deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes letter-flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
.introduction {
  position: relative;
  // makes portrait go all the way to the bottom
  display: flex;
  flex-direction: column;
  margin-top: 20%;

  p:nth-child(1) {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 90%;
  }

  p:nth-child(1):before,
  p:nth-child(1):after {
    content: "";
    flex: 1;
    border-bottom: 0.5px solid rgb(240, 240, 240);
    margin: auto;
  }
  p:nth-child(1):before {
    margin-right: 5%;
  }
  p:nth-child(1)::after {
    margin-left: 5%;
  }
  .introduction__portrait {
    width: 80%;
    max-width: 500px;
    margin-left: 15%;
    position: relative;
    z-index: 1;
    margin-top: 10%;
  }
  .introduction__text {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
  }
  .introduction__description {
    display: flex;
    width: 85%;
    margin: 0 auto;
    max-width: 400px;
    animation: delay 4s ease 1;

    p {
      margin-left: 10px;
    }

    @keyframes delay {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    background: url("/images/pattern/hexagon-pattern.svg");
    background-size: cover;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
  }
}

@media screen and(min-width:1000px) {
  .introduction {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 5%;
    margin-right: 0%;
    .introduction__portrait {
      width: 35vw;
      position: relative;
      z-index: 1;
      margin-top: 50%;
      margin-left: 0;
      margin-right: 100px;
    }
    .introduction__text {
      margin-left: 20%;
      margin-top: 7.5%;
      width: 100%;
      position: relative;
      z-index: 1;
    }
    .introduction__description {
      display: flex;
      width: 100%;
      margin: 0 auto;
      p {
        margin-left: 10px;
      }
    }
    &::before {
      top: 25%;
    }
  }
}

@media screen and(min-width:1400px) {
  .introduction {
    .introduction__portrait {
      width: 40vw;
      max-width: 600px;
      margin-right: 150px;
      margin-top: 30%;
    }
    .introduction__text {
      margin-left: 30%;
    }
    .introduction__description {
      display: flex;
      width: 100%;
      margin: 0 auto;
      p {
        margin-left: 10px;
      }
    }
    &::before {
      top: 25%;
    }
  }
}
