.blue-bg {
	background: linear-gradient(
		300deg,
		rgba(1, 22, 51, 1) 0%,
		rgba(1, 43, 102, 1) 100%
	);
}

.introduction {
	position: relative;
	// makes portrait go all the way to the bottom
	display: flex;
	flex-direction: column;
	margin-top: 20%;

	p:nth-child(1) {
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		width: 90%;
	}

	p:nth-child(1):before,
	p:nth-child(1):after {
		content: "";
		flex: 1;
		border-bottom: 0.5px solid rgb(240, 240, 240);
		margin: auto;
	}
	p:nth-child(1):before {
		margin-right: 10px;
	}
	p:nth-child(1)::after {
		margin-left: 10px;
	}
	.introduction__portrait {
		width: 80%;
		margin-left: 15%;
		position: relative;
		z-index: 1;
		margin-top: 10%;
	}
	.introduction__text {
		margin: 0 auto;
		width: 90%;
	}
	.introduction__description {
		display: flex;
		width: 90%;
		margin: 0 auto;
		p {
			margin-left: 10px;
		}
	}
	&::before {
		content: "";
		position: absolute;
		background: url("/images/pattern/hexagon-pattern.png");
		background-size: cover;
		bottom: 0;
		left: 0;
		right: 0;
		top: 50%;
	}
}
