.blue-bg {
	background: $blue-linear-gradient;
}

.introduction {
	position: relative;
	// makes portrait go all the way to the bottom
	display: flex;
	flex-direction: column;
	margin-top: 20%;

	p:nth-child(1) {
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		width: 90%;
	}

	p:nth-child(1):before,
	p:nth-child(1):after {
		content: "";
		flex: 1;
		border-bottom: 0.5px solid rgb(240, 240, 240);
		margin: auto;
	}
	p:nth-child(1):before {
		margin-right: 5%;
	}
	p:nth-child(1)::after {
		margin-left: 5%;
	}
	.introduction__portrait {
		width: 80%;
		max-width: 500px;
		margin-left: 15%;
		position: relative;
		z-index: 1;
		margin-top: 10%;
	}
	.introduction__text {
		margin: 0 auto;
		width: 100%;
		max-width: 500px;
	}
	.introduction__description {
		display: flex;
		width: 85%;
		margin: 0 auto;
		p {
			margin-left: 10px;
		}
	}
	&::before {
		content: "";
		position: absolute;
		background: url("/images/pattern/hexagon-pattern.svg");
		background-size: cover;
		bottom: 0;
		left: 0;
		right: 0;
		top: 50%;
	}
}

@media screen and(min-width:1000px) {
	.introduction {
		position: relative;
		// makes portrait go all the way to the bottom
		display: flex;
		flex-direction: row;
		margin-top: 5%;

		.introduction__portrait {
			width: 100%;
			max-width: 30vw;
			margin-right: 5%;
			position: relative;
			z-index: 1;
			margin-top: 25%;
			margin-left: 0;
		}
		.introduction__text {
			margin-left: 10%;
			margin-top: 5%;
			width: 100%;
			position: relative;
			z-index: 1;
		}
		.introduction__description {
			display: flex;
			width: 100%;
			margin: 0 auto;
			p {
				margin-left: 10px;
			}
		}
		&::before {
			top: 25%;
		}
	}
}
