.projects__display {
	width: 85%;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	margin-top: 25px;

	a {
		position: relative;
		text-decoration: none;
		z-index: 5;
	}
	.project__info,
	p,
	h3 {
		color: $white;
	}

	.projects__card {
		position: relative;
		background: url("/images/bryllup.jpg");
		background-size: contain;
		padding: 25px;
		display: flex;
		flex-direction: column;
		width: 85%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.projects__card::before {
		position: absolute;
		content: "";
		inset: 0;
		background: $main-blue;
		opacity: 90%;
		z-index: 2;
	}
	.projects__description--flexible {
		flex-grow: 1;
	}
	.projects__info {
		display: flex;
		justify-content: space-between;
	}
	.projects__icons {
		display: flex;
		gap: 7.5px;
	}
	.projects__display--technologies {
		margin-right: 25px;
	}
	.projects__icons--styling {
		width: 45px;
	}
	.projects__image {
		display: none;
	}
}

@media screen and (min-width: 650px) {
	.projects__display {
		justify-content: space-between;
		.projects__card {
			width: 38%;
		}
	}
}
