body {
	font-family: $body-text;
	font-weight: 300;
	font-style: normal;
}

h1,
h2,
h3 {
	font-family: $heading-font;
}
h1 {
	font-size: 2.2em;
	margin: 0;
}

h2 {
	color: $dark-blue;
	font-size: 2.2em;
	font-weight: 500;
}

.introduction {
	color: $white;

	h1 {
		text-align: center;
	}
	p:nth-child(1) {
		font-family: $heading-font;
		text-align: center;
		font-size: 1.2em;
	}
	.introduction--span {
		margin-right: 5px;
		color: $peach;
	}
}
